@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root{
    font-family: Roboto Condensed;
}


*{
    margin: 0;
}

html, body{
    height: 100%;
    background-color: rgb(26, 58, 50);
}

header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 25px;
}

nav a:visited, nav a:link{
    color: rgb(122, 18, 39) ;
    color: #fff;
    text-decoration: none;
}

nav > ul{
    display: inline;
    padding: 0;
}

nav > ul > li{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
    font-size: 17px;
}

nav > ul > li > a:hover{
    color:rgb(122, 18, 39);
}

main{
    display: block;
    background-image: url("images/background.png") ;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

main ,article ,img{
    padding-top: 1.2em;
}


aside, article{
    margin-top: 1.7em;
    text-align: center;
}

aside{
    max-width: 100%;
}

article{
    width: 75%;
    margin-top: 3em ;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }

    aside{
        margin-left: 2%;
    }
}

h1{
    font-size: 2rem;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.subtitulo{
    background-color: rgb(146, 143, 141);
    font-size: 1.1rem;
    padding: 0.2rem;
    border: solid 1px black;
    border-radius: 2px;
    margin-top: 0.3rem;
}

.subtitulo a{
    color: rgb(26, 58, 50) ;
}

/*footer*/

footer{
    padding: 15px;
}

.footer-bottom{
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    color: #fff;
    padding-bottom: 3px;
}

.myClass{
    text-align: center;
}


/* catalogo*/

.element { 
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: black ;
    border: 3px solid rgb(26, 58, 50);
    color: #fff;
    display: inline-block;
}

.columns-desktop .element{
    border-radius: 10px;
    transition: all 0,25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.562);
}

.columns-desktop .element:hover{
   /* transform: translateY(-15px);*/
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.884);
}

.image-montibello{
    max-width: 100%;
    padding-bottom: 1em;
}

.element-information .title{
    font-weight: bold;
}

.element-information .price{
    font-weight: bold;
    text-align: right ;
}

.element-information{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 0.5em;
}

.element button{
    background-color: rgb(122, 18, 39);
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 0.7em;
}
.element button:hover{
    background-color: rgb(194, 182, 15);
}

/*contacto*/


.mje{
    margin-top: 10px;
    font-size: 1.5em;
}

.mje > a{
    color: #fff;
}

.redes >p{
    font-size: 1.2em;
}

.redes img:hover{
    transform: translateY(-15px);
    transition: all 0.9s;
}*

/*order*/

.import .element-information .title{
    font-size: 22px;
    margin-top: 3.2em;
    text-shadow: 1.5px -1.5px 0 #767676;
 
}

.import .element-information .price{
    font-size: 22px;
    margin-top: 3.2em;
    text-shadow: 1.5px -1.5px 0 #767676;
    
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 45px ;
}

input{
    background: rgba(255, 255, 255, 0.062);
    color: #050404;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{ 
    outline: none;
    color: #000000;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: rgb(122, 18, 39);
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}


.order-submit input{
    border-radius: 100px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(122, 18, 39), rgba(15, 15, 15, 0.788));
    margin: 10px auto;
    height: 40px;
}
